html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0d113a;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  border: 2px solid #ffffff;
  background: #1e2a38;
}

.score-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {

    font-size: 1em;
    color: #fff;

  }

  padding: 0rem 1rem;
  border-bottom: 2px solid #ffffff;

  .moves-counter{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.2rem;

    font-size: 1em;
    color: #fff;
    padding-left: 0.5rem;
    
    i{
      padding-bottom: 0.18rem;
    }

    span{
      font-weight: bold;
    }
  }
}

.deck {
  width: 345px;
  margin: 0 auto;

  padding: 16px;

}

.deck .card {
  height: 75px;
  width: 75px;
  background: #fff;
  display: inline-block;
  margin: 0 15px 15px 0;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.deck .card:nth-child(4n) {
  margin-right: 0;
}

.deck .card.open {
  transform: rotateY(0);
  background: #89c4ff;
  cursor: default;
}

.deck .card.match {
  transform: rotateY(0);
  cursor: default;
  background: #9bcb3c;
}

.deck .card.notmatch {
  background: #ee0e51;
}

.deck .card img.aws-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none; 
}

.deck .card.open img.aws-icon,
.deck .card.match img.aws-icon,
.deck .card.show img.aws-icon {
  display: block;
}

#score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

#score-panel .heart {
  padding: 0;
  display: inline-block;
  margin-right: 5px;
  color: #ee0e51;
}

#score-panel .heart li {
  list-style: none;
  display: inline-block;
}

#score-panel .restart {
  float: right;
  cursor: pointer;
}

*::selection {
  background: transparent;
}

.swal2-overlay {
  background-color: rgba(255, 255, 255, 1);
}
